<ion-header>
  <ion-toolbar>
    <ion-title>Configurar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <header><h2>Selecciona opción a configurar</h2></header>

    <ion-button
      id="botonrespiracion"
      expand="block"
      routerLink="/intro-config-message"
      >Ayudame</ion-button
    >
    <ion-button
      id="botondistraerme"
      expand="block"
      routerLink="/intro-config-contacts"
      >S.0.S</ion-button
    >
  </section>
  <a ion-button expand="block" routerLink="/onboarding">Skip</a>
</ion-content>
