

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button text="" defaulHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Meditación</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  <section id="buttons-big">
    <img src="/assets/icon/MeditacionTipos.png" width="100%" height="70%" display=block margin=auto>
    <header><h2>Elegí tus preferencias</h2></header>
    <ion-button expand="block" routerLink="activasonido">Activa Sonido</ion-button>
  
  </section>
</ion-content>
