<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="logo" src="/assets/icon/LogoBreath.png" />
  <p>
    Una aplicación destinada a aquellas personas que sufran de ataques de
    ansiedad o pánico. Te dará herramientas para manejar esos momentos tan
    difíciles, como por ejemplo: llamados de emergencia, sección de respiración
    consciente, blog de comunicación, información útil sobre trastornos de
    ansiedad, entre otras.
  </p>

  <ion-input placeholder="Enter Input"></ion-input>
  <ion-input placeholder="Enter Input"></ion-input>
  <ion-input placeholder="Enter Input"></ion-input>
  <ion-input placeholder="Enter Input"></ion-input>

  <div>
    <input type="checkbox" />
    <ion-label>Terminos y condiciones</ion-label>
  </div>
  <ion-button expand="block" routerLink="/login">Ingresar</ion-button>
</ion-content>
