<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button text="" defaulHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>BreatheWithMe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
<section>
  <img id="imgayudame" src="/assets/icon/ayudame.png" alt="">
</section>
<article>
  <p id="textoayudame">
    Hola,
    Me llamo Guillermina Schilling, sufro de ataques de pánico.
    Si estás leyendo esto ahora es porque estoy pasando por uno ahora y se me dificulta comunicarme de manera verbal.
    Te voy a decir que podes hacer para ayudarme.
    <br>
    Primero pregúntame si me tome mi medicación. Si te respondo que no, suelo tener siempre dentro de mi billetera.
    Trata de no entrar en pánico vos también. En estos momentos estoy sintiendo que algo en mí está muy mal y que voy a morir, no es así, estoy perfectamente bien y no me puede pasar nada físico por un ataque de pánico. 
    Necesito que me recuerdes que estoy bien, que estoy segura y que no me va a pasar nada.
    <br>
    Me ayuda mucho si respiras profundamente viéndome, probablemente intente seguir tu ritmo de respiración.
    Otra cosa que me funciona es que me intentes hacer reír o distraer con algo. Puede ser algo que me digas, algún video o cualquier cosa que se te ocurra.
  </p>
</article>
<footer>
  <ion-button id="botonemergencia" expand="block" routerLink="/sos">Contacto de emergencia</ion-button>
  
</footer>
</main>

</ion-content>
