<ion-header>
  <ion-toolbar>
    <ion-title>Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section id="buttons-big">
    
    <header><h2>¿Qué queres jugar?</h2></header>
    <ion-button expand="block" routerLink="1">Candy Crush</ion-button>
    <ion-button expand="block" routerLink="2">Angrybirds</ion-button>
    <ion-button expand="block" routerLink="3">Plants vs zombies</ion-button>
    <ion-button expand="block" routerLink="3">Sudoku</ion-button>
    <ion-button expand="block" routerLink="3">UNO</ion-button>
    <ion-button expand="block" routerLink="3">Minecraft</ion-button>
  </section>
</ion-content>
