<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button text="" defaulHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<section>
  <h2>
    ¿Qué es un ataque de panico?
  </h2>
  <p>
    Los ataques de pánico son episodios de miedo o ansiedad repentinos intensos, acompañados de síntomas físicos
     que puede alcanzar su punto máximo en cuestión de minutos. <br>
     Los sentimientos de ansiedad, temor y las sensaciones físicas de un nudo en el estómago y un latido cardíaco pueden llevar a los pacientes a 
     pensar que están sufriendo un ataque cardíaco.
  </p>
  <img  src="/assets/icon/panico.jpeg" alt="">
</section>
</ion-content>
