<ion-header [translucent]="true">
  <ion-toolbar>
  
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <img
        class="logo"
        src="/assets/icon/LogoBreath.png"  />
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <section id="buttons-big">
    <ion-button expand="block" routerLink="/ayudame">Ayudame</ion-button>
    <ion-button expand="block" routerLink="/sos">S.O.S</ion-button>
  </section>
  <section>
    <header><h2>Elegí tus preferencias</h2></header>
    <ion-button expand="block" routerLink="/distraeme">Distraeme</ion-button>
    <ion-button expand="block" routerLink="/respiracion">Respiracion</ion-button>
    <ion-button expand="block" routerLink="/meditacion">Meditación</ion-button>
    <ion-button  id="botoninfo" expand="block" routerLink="/informacion">Información</ion-button>
  </section>
</ion-content>
