app-home {
  


  #buttons-big ion-button {
    height: 100px;
    width: 48%;
    float: left;
  }

}
ion-title img {
  height: 45px;
  width: 85px;
}

ion-toolbar{
  --background: lightblue;

}

ion-content{
  --background: rgb(245, 241, 241);



}

